{% extends 'base.html' %}


{% block content %}


    <main>

        <div class="breadcrumb-items">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'Bookmanager:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                    <li>
                        <span class="breadcrumb-active">تماس با ما</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                            <div class="hero-caption hero-caption2">
                                <h2>تماس با ما</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <section class="contact-section">
            <div class="container">
                <div class="row">
{#                    <div class="col-12 map">#}
{#                        <iframe#}
{#                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.306347435966!2d51.3380361!3d35.6997329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dff1b08d30b1b%3A0xa6654a6df848512!2sAzadi%20Square!5e0!3m2!1sen!2sus!4v1689704803221!5m2!1sen!2sus"#}
{#                            width="1296" height="365" style="border:0;" allowfullscreen="" loading="lazy"#}
{#                            referrerpolicy="no-referrer-when-downgrade"></iframe>#}
{#                    </div>#}
                    {% if success %}
                    	 <div class="col-12">
                            <div class="alert alert-success">{{ success }}</div>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <h2 class="contact-title">اطلاعات تماس</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="" method="post" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                        {% for error in form.non_field_errors %}
                                        	 <div class="alert alert-danger mb-3"> {{ error }}</div>
                                        {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form.subject }}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form.text }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button boxed-btn">ارسال</button>
                            </div>
                        </form>
                    </div>
{#                    <div class="col-lg-3 offset-lg-1">#}
{#                        <div class="media contact-info">#}
{#                            <span class="contact-info__icon"><i class="ti-home"></i></span>#}
{#                            <div class="media-body">#}
{#                                <h3>ایران، تهران</h3>#}
{#                                <p>میدان آزادی</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="media contact-info">#}
{#                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>#}
{#                            <div class="media-body">#}
{#                                <h3>02112345678</h3>#}
{#                                <p>شنبه تا پنج شنبه ساعت 8 الی 20</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="media contact-info">#}
{#                            <span class="contact-info__icon"><i class="ti-email"></i></span>#}
{#                            <div class="media-body">#}
{#                                <h3>#}
{#                                    <a href="mailto:designer@sitranet.com"#}
{#                                        class="__cf_email__">designer@sitranet.com</a>#}
{#                                </h3>#}
{#                                <p>ایمیل مجموعه</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>

    </main>
{% endblock %}