.sidebar {
    background-color: rgb(0, 164, 166);
    color: white;
    padding: 15px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    border-radius: 8px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: rgb(0, 140, 142);
}
